/*.editable {
	border-style:solid;
	border-width:1px;
	width:75%;
	padding:10px;
	display:flex;
	margin-left:20px;
}

.edit {
	flex-flow: 1;
	margin: 20px;
	margin-left:40px;
	height: 40px;
	width: 90px;
	margin-top: 70px;
}

.container {
	display:flex;
	margin:1em;
	padding: 10px;
	border-style:solid;
	border-width:1px;
	width:80%;
}*/



.editing {
    border: 2px solid green;
    background: #eee;
}
